<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vartime.easy.examples.test.mapper.UserMapper">

    <resultMap type="com.vartime.easy.examples.test.entity.User" id="BaseResultMap">
        <result property="userAge" column="user_age" jdbcType="LONG INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="usable" column="usable" jdbcType="BOOLEAN"/>
    </resultMap>
    
    <sql id="BaseColumns">
         user_age, user_name, usable
    </sql>

</mapper>